<header class="w3-cell-row general">
    <div class="w3-cell w3-cell-middle">
        <span class="w3-padding"><img [src]="logoPath" width="100px" /></span>
        <span class="w3-padding"><a routerLink="/home" routerLinkActive="gras"> Accueil </a></span>
        <span class="w3-padding"><a routerLink="/films" routerLinkActive="gras"> Films </a></span>
        <span class="w3-padding"><a routerLink="/perso" routerLinkActive="gras"> Personnages </a></span>
        <span class="w3-padding"><a routerLink="/vv" routerLinkActive="gras"> Vaisseaux et Vehicules </a></span>
        <span class="w3-padding"><a routerLink="/espece" routerLinkActive="gras"> Espèces </a></span>
        <span class="w3-padding"><a routerLink="/about" routerLinkActive="gras"> About Us  </a></span>

    </div>
</header>